@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

html,
body {
  overflow: hidden;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: inherit;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  text-decoration: none;
  outline: none;
  display: block;
}

a:hover,
a:active {
  text-decoration: none;
  color: #1187cf;
}

p {
  margin: 0;
}

.ant-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

.md_visible {
  display: none;
}

@media only screen and (max-width: 768px) {
  .md_visible {
    display: block;
  }
}

.lg_visible {
  display: none;
}

@media only screen and (max-width: 992px) {
  .lg_visible {
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background: rgba(0, 0, 0, 0.5);
}

.tag {
  display: inline-block;
  font-size: 0.8rem;
  background-color: #263238;
  padding: 0.1rem 0.5rem;
  color: #fff;
  border-radius: 5px;
}

.tag:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.strong {
  margin: 0 0.5rem;
  font-weight: bold;
  color: #1187cf;
}

@-webkit-keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes border {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 1px 1px 10px #1187cf;
            box-shadow: 1px 1px 10px #1187cf;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes border {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 1px 1px 10px #1187cf;
            box-shadow: 1px 1px 10px #1187cf;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@-webkit-keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@-webkit-keyframes flip {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
            transform: translate(-50%, -50%) rotateY(90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotateY(0);
            transform: translate(-50%, -50%) rotateY(0);
    visibility: visible;
  }
}

@keyframes flip {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
            transform: translate(-50%, -50%) rotateY(90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotateY(0);
            transform: translate(-50%, -50%) rotateY(0);
    visibility: visible;
  }
}

@-webkit-keyframes slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.loadingPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_landing {
  position: relative;
}

.home_landing .slick-slider {
  height: 100vh;
  overflow: hidden;
}

.home_landing .slick-slider .landing_bg {
  width: 100%;
  height: 100vh;
}

.home_landing .landing_title {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_landing .landing_title h1 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Kaushan Script", cursive;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: linear-gradient(transparent calc(100% - 3px), #fff 5px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
}

.home_landing .landing_title button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 2rem;
  width: 30%;
  font-weight: bold;
  color: #fff;
}

.home_landing .landing_title button:hover {
  color: #1187cf;
}

.checkList {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 75%;
  left: 50%;
  width: 70%;
  height: 370px;
  overflow: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  visibility: hidden;
  -webkit-animation: flip 0.4s 0.8s forwards;
          animation: flip 0.4s 0.8s forwards;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.checkList_form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
}

.checkList_form h3 {
  -webkit-transition: 0.3;
  transition: 0.3;
  background-image: linear-gradient(transparent calc(100% - 3px), #d21f3c 5px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
}

.checkList_form h3 span {
  margin-left: 5px;
  color: #d21f3c;
  font-size: 0.9rem;
}

.checkList_Box {
  margin: 1rem 0 2rem 0;
}

.checkList_Box label {
  margin: 0.5rem 1rem 0.5rem 0;
}

.main_page_wrapper {
  width: 100%;
  height: 100vh;
}

.main_page_wrapper .main_wrapper {
  height: calc(100% - 59.26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_page_wrapper .main_wrapper .main_content_wrapper {
  width: 100%;
  overflow: auto;
  position: relative;
}

.togo_preview {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 1;
  cursor: pointer;
}

.togo_preview h3 {
  color: #1187cf;
}

.togo_preview span {
  position: absolute;
  font-size: 2rem;
  bottom: -1rem;
  left: -1rem;
}

.popup_togo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

.popup_togo a {
  width: 50%;
  text-align: center;
}

.home_modal {
  background-color: #fff;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem 2rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.home_modal h4 {
  line-height: 2;
  margin-bottom: 0.5rem;
}

.home_modal .ant-divider {
  margin: 0.5rem 0;
}

.home_modal span {
  background-color: #ed6f63;
  border-radius: 5px;
  padding: 0.15rem 0.3rem;
  color: #fff;
  margin-right: 0.5rem;
}

.home_map_modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 620px;
  height: 260px;
}

.home_menu_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 340px;
}

.home_recommend_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  width: 90%;
  height: 550px;
}

.home_recommend_modal ul {
  margin: 1rem 0;
}

.home_recommend_modal ul .tag {
  margin-right: 0.5rem;
  cursor: default;
}

.home_recommend_modal .modal_acm_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_recommend_modal .modal_acm_box span {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  text-decoration: underline;
}

header {
  position: relative;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

header .header_logo {
  color: black;
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
}

header .settingIcon {
  margin: 0 0.4rem;
  font-size: 1.1rem;
}

header span {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

header a {
  display: inline-block;
}

.nav {
  width: 320px;
  height: calc(100vh - 59.26px);
  font-size: 1.1rem;
  background-color: #263238;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav_menu_link {
  padding: 1.5rem;
  color: #fff;
  background-color: #263238;
}

.nav .nav_menu_link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav .footer {
  padding: 1rem;
}

.nav .footer:hover .footer_desc {
  visibility: visible;
}

.nav .footer_desc {
  visibility: hidden;
}

.nav .footer_desc h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 0.9rem;
}

.nav .footer_list {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .footer_list a {
  color: #fff;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .nav {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    width: 0px;
  }
}

.offSubMenu {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 0;
}

.onSubMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: 100%;
}

.content_box {
  padding: 2rem;
  width: 100%;
  height: 450px;
}

@media only screen and (max-width: 992px) {
  .content_box {
    height: 620px;
  }
}

.content_article_img {
  border-radius: 10px;
}

.content_article_img img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.content_article_text {
  padding-left: 1.5rem;
  font-size: 0.9rem;
  line-height: 2.2;
  height: 250px;
  overflow-y: auto;
}

@media only screen and (max-width: 992px) {
  .content_article_text {
    padding-top: 1rem;
    padding-left: 0;
    height: 170px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.content_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_subtitle .addBtn {
  cursor: pointer;
  margin-left: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.content_top h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8rem;
}

.content_top h2 strong {
  margin-right: 1rem;
}

.content_top h2 a {
  font-family: "Kaushan Script", cursive;
}

.content_top ul .content_list {
  display: inline-block;
  margin-right: 1rem;
}

.content_top ul .content_tag {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.5rem;
}

.content_top ul .content_tag:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content_small_box {
  position: relative;
  padding: 1rem;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  width: 100%;
}

.content_small_box h2 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content_small_box h2 span {
  font-family: "Kaushan Script", cursive;
}

.content_small_box h2 a:last-child {
  font-size: 0.9rem;
}

.content_small_box .image_wrapper {
  overflow: hidden;
  border-radius: 10px;
}

.content_small_box .image_wrapper .place_img,
.content_small_box .image_wrapper .airport_img {
  width: 100%;
  height: 240px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  border-radius: 10px;
}

.content_small_box .crown {
  position: absolute;
  top: 3rem;
  right: -1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.content_small_box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.content_small_box:hover .place_img,
.content_small_box:hover .airport_img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.route_content_header {
  padding: 1rem;
  font-size: 0.9rem;
}

.route_content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.route_content_info span {
  margin: 0 0.5rem;
}

.route_content_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.route_content_info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.route_content_info .ant-select-selection-item {
  padding: 0 !important;
}

.route_content_info .ant-select-arrow {
  display: none;
}

.route_content_info a {
  margin-left: 0.5rem;
}

.route_content_info a:hover {
  color: #fff;
}

.route_btn {
  position: absolute;
  z-index: 1;
  top: -3rem;
  font-size: 1.5rem;
}

.route_btn_prev {
  right: 3rem;
}

.route_btn_prev:hover {
  color: #1187cf;
}

.route_btn_next {
  right: 1rem;
}

.route_btn_next:hover {
  color: #1187cf;
}

.analyzer_budget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  font-weight: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.analyzer_budget h2 {
  margin-right: 1rem;
}

.analyzer_budget_btn {
  height: 50%;
  font-size: 0.8rem;
}

.analyzer_budget_input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 20%;
}

.analyzer_budget_input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.analyzer_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.analyzer_input .type_selector {
  width: 30%;
  margin-right: 1rem;
}

.analyzer_input .payment {
  width: 40%;
}

.analyzer_input .payment_usd {
  margin-left: 1rem;
}

.analyzer_input .payment_krw {
  margin-right: 1rem;
}

.analyzer_list {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.analyzer_list:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.analyzer_list .delete_btn {
  display: inline-block;
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */