// global

$WHITE_COLOR: #fff;
$BLUE_COLOR: #1187cf;
$GRAY_COLOR: rgba(0, 0, 0, 0.25);
$RED_COLOR: #d21f3c;
$MAIN_COLOR: #263238;
$ORANGE_COLOR: #ed6f63;

$sm: 576px;
$md: 768px;
$lg: 992px;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}

html,
body {
  overflow: hidden;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 4rem;
  margin: 0;
}
h2,
h3,
h4,
h5 {
  margin: 0;
}
button {
  transition: 0.5s;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
a {
  transition: 0.5s;
  color: black;
  text-decoration: none;
  outline: none;
  display: block;
}
a:hover,
a:active {
  text-decoration: none;
  color: $BLUE_COLOR;
}
p {
  margin: 0;
}

.ant-divider {
  border-top: 1px solid $GRAY_COLOR;
  border-left: 1px solid $GRAY_COLOR;
}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153);
}

.md_visible {
  display: none;
  @media only screen and (max-width: $md) {
    display: block;
  }
}

.lg_visible {
  display: none;
  @media only screen and (max-width: $lg) {
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background: rgba(0, 0, 0, 0.5);
}

.tag {
  display: inline-block;
  font-size: 0.8rem;
  background-color: $MAIN_COLOR;
  padding: 0.1rem 0.5rem;
  color: $WHITE_COLOR;
  border-radius: 5px;
  &:hover {
    transform: scale(1.05);
  }
}

.strong {
  margin: 0 0.5rem;
  font-weight: bold;
  color: $BLUE_COLOR;
}

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
//================KEYFRAMES ===============================

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@keyframes flip {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotateY(0);
    visibility: visible;
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

//================ LANDING PAGE ========================

.loadingPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_landing {
  position: relative;
  .slick-slider {
    height: 100vh;
    overflow: hidden;
    .landing_bg {
      width: 100%;
      height: 100vh;
    }
  }
  .landing_title {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      transition: 0.3s;
      font-family: "Kaushan Script", cursive;
      color: $WHITE_COLOR;
      text-align: center;
      user-select: none;
      background-image: linear-gradient(transparent calc(100% - 3px), $WHITE_COLOR 5px);
      background-repeat: no-repeat;
      background-size: 0% 100%;
    }
    button {
      transition: 0.3s;
      font-size: 2rem;
      width: 30%;
      font-weight: bold;
      color: $WHITE_COLOR;
      &:hover {
        color: $BLUE_COLOR;
      }
    }
  }
}

//======================= CheckListForm =====================

.checkList {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 75%;
  left: 50%;
  width: 70%;
  height: 370px;
  overflow: auto;
  transform-style: preserve-3d;
  perspective: 300px;
  visibility: hidden;
  animation: flip 0.4s 0.8s forwards;
  box-shadow: 10px 10px 30px $GRAY_COLOR;
  &_form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    h3 {
      transition: 0.3;
      background-image: linear-gradient(transparent calc(100% - 3px), $RED_COLOR 5px);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      span {
        margin-left: 5px;
        color: $RED_COLOR;
        font-size: 0.9rem;
      }
    }
  }
  &_Box {
    margin: 1rem 0 2rem 0;
    label {
      margin: 0.5rem 1rem 0.5rem 0;
    }
  }
}

//======================= MainPage =====================

.main_page_wrapper {
  width: 100%;
  height: 100vh;
  .main_wrapper {
    height: calc(100% - 59.26px);
    display: flex;
    .main_content_wrapper {
      width: 100%;
      overflow: auto;
      position: relative;
    }
  }
}

.home_modal {
  background-color: $WHITE_COLOR;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 10px $GRAY_COLOR;
  h4 {
    line-height: 2;
    margin-bottom: 0.5rem;
  }
  .ant-divider {
    margin: 0.5rem 0;
  }
  span {
    background-color: $ORANGE_COLOR;
    border-radius: 5px;
    padding: 0.15rem 0.3rem;
    color: $WHITE_COLOR;
    margin-right: 0.5rem;
  }
}

.home_map_modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 620px;
  height: 260px;
}

.home_menu_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 340px;
}

//====================== Header ========================

header {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $GRAY_COLOR;
  .header_logo {
    color: black;
    font-family: "Kaushan Script", cursive;
    font-weight: bold;
  }
  .settingIcon {
    margin: 0 0.4rem;
    font-size: 1.1rem;
  }
  span {
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }
  a {
    display: inline-block;
  }
}

//=================== Navigation =========================

.nav {
  width: 320px;
  font-size: 1.1rem;
  background-color: $MAIN_COLOR;
  .nav_menu {
    &_link {
      color: $WHITE_COLOR;
      padding: 1.5rem;
      background-color: $MAIN_COLOR;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  @media only screen and (max-width: $md) {
    transform: translateX(-100px);
    width: 0px;
  }
}

.offSubMenu {
  transform: translateY(-100%);
  height: 0;
}

.onSubMenu {
  transform: translateY(0);
  height: 100%;
}

//================= Content Box =======================

.content {
  &_box {
    padding: 2rem;
    width: 100%;
    height: 50%;
  }
  &_article {
    &_img {
      border-radius: 10px;
      img {
        width: 100%;
        height: 250px;
        border-radius: 8px;
      }
    }
    &_text {
      padding-left: 1.5rem;
      font-size: 0.9rem;
      line-height: 2.2;
      height: 250px;
      overflow-y: auto;
      @media only screen and (max-width: $lg) {
        padding-top: 1rem;
        padding-left: 0;
      }
    }
  }
  &_subtitle {
    display: flex;
    justify-content: space-between;
    span {
      cursor: pointer;
      margin-left: 1rem;
      padding-top: 0.2rem;
      transition: 0.3s;
    }
  }
  &_top {
    h2 {
      display: flex;
      margin-bottom: 0.8rem;
      strong {
        margin-right: 1rem;
      }
      a {
        font-family: "Kaushan Script", cursive;
      }
    }
    ul {
      .content_list {
        display: inline-block;
        margin-right: 1rem;
      }
      .content_tag {
        user-select: none;
        margin-right: 0.5rem;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.content_small_box {
  padding: 1rem;
  transition: 0.4s all;
  width: 100%;
  h2 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span {
      font-family: "Kaushan Script", cursive;
    }
    a:last-child {
      font-size: 0.9rem;
    }
  }
  .image_wrapper {
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      height: 240px;
      transition: 0.4s all;
      border-radius: 10px;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    img {
      transform: scale(1.05);
    }
  }
}

// ================= Airport route =======================

.route_content {
  &_header {
    padding: 1rem;
    font-size: 0.9rem;
  }
  &_info {
    display: flex;
    align-items: center;
    span {
      margin: 0 0.5rem;
    }
    ul {
      display: flex;
      li {
        display: flex;
        align-items: center;
      }
    }
    .ant-select-selection-item {
      padding: 0 !important;
    }
    .ant-select-arrow {
      display: none;
    }
    a {
      &:hover {
        color: $WHITE_COLOR;
      }
      margin-left: 0.5rem;
    }
  }
}

.route_btn {
  position: absolute;
  z-index: 1;
  top: -3rem;
  font-size: 1.5rem;
  &_prev {
    right: 3rem;
    &:hover {
      color: $BLUE_COLOR;
    }
  }
  &_next {
    right: 1rem;
    &:hover {
      color: $BLUE_COLOR;
    }
  }
}

//================== Analyzer =============================

.analyzer {
  &_budget {
    display: flex;
    padding: 1rem;
    font-weight: normal;
    align-items: center;
    h2 {
      margin-right: 1rem;
    }
    button {
      height: 50%;
      font-size: 0.8rem;
    }
  }
  &_input {
    display: flex;
    padding: 1rem;
    .type_selector {
      width: 30%;
      margin-right: 1rem;
    }
    .payment {
      width: 40%;
      &_usd {
        margin-left: 1rem;
      }
      &_krw {
        margin-right: 1rem;
      }
    }
  }
  &_list {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s all;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .delete_btn {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}
