// global

$WHITE_COLOR: #fff;
$BLUE_COLOR: #1187cf;
$GRAY_COLOR: rgba(0, 0, 0, 0.25);
$RED_COLOR: #d21f3c;
$MAIN_COLOR: #263238;
$ORANGE_COLOR: #ed6f63;
$GOLD_COLOR: #fc0;
$sm: 576px;
$md: 768px;
$lg: 992px;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3 h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}

html,
body {
  overflow: hidden;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 4rem;
}
button {
  transition: 0.5s;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
a {
  transition: 0.5s;
  color: black;
  text-decoration: none;
  outline: none;
  display: block;
}

.ant-divider {
  border-top: 1px solid $GRAY_COLOR;
  border-left: 1px solid $GRAY_COLOR;
}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153);
}

.sm_visible {
  display: none;
  @media only screen and (max-width: $sm) {
    display: block;
  }
}

.md_visible {
  display: none;
  @media only screen and (max-width: $md) {
    display: block;
  }
}

.lg_visible {
  display: none;
  @media only screen and (max-width: $lg) {
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background: rgba(0, 0, 0, 0.5);
}

.tag {
  display: inline-block;
  font-size: 0.8rem;
  background-color: $MAIN_COLOR;
  padding: 0.1rem 0.5rem;
  color: $WHITE_COLOR;
  border-radius: 5px;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-underLine {
  background-image: linear-gradient(transparent calc(100% - 1.5px), $BLUE_COLOR 5px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  &:hover {
    animation: underLining 0.3s forwards;
  }
}

@media only screen and (max-width: $sm) {
  html,
  body,
  span {
    font-size: 0.9rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
//================KEYFRAMES ===============================

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes border {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 1px 1px 10px $BLUE_COLOR;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@keyframes flip {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotateY(0);
    visibility: visible;
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

//================ LANDING PAGE ========================

.loadingPage {
}
.home_landing {
}

//======================= CheckListForm =====================

.checkList {
}

//======================= MainPage =====================

.main_page_wrapper {
}

.map_preview {
}

.map_popup {
}

//============================ MODAL ====================================

.modal {
  background-color: $WHITE_COLOR;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 10px $GRAY_COLOR;
  h4 {
    line-height: 2;
    margin-bottom: 0.5rem;
  }
  .ant-divider {
    margin: 0.5rem 0;
  }
  span {
    background-color: $ORANGE_COLOR;
    border-radius: 5px;
    padding: 0.15rem 0.3rem;
    color: $WHITE_COLOR;
    margin-right: 0.5rem;
  }
}

.home_map_modal {
}

.home_menu_modal {
}

.home_recommend_acm_modal {
}

.home_recommend_togo_modal {
}

@media only screen and (max-width: $sm) {
  .home_map_modal {
  }
  .home_menu_modal {
  }
  .home_recommend_acm_modal {
  }
  .home_recommend_togo_modal {
  }
}

//====================== Header ========================

header {
}

//====================== Footer ============================

.footer {
}

//=================== Navigation =========================

.nav {
}

//================= Content Box =======================

.content {
}

.content_small_box {
}

// ================= Airport route =======================

.route_content {
}

.route_btn {
}

//================== Analyzer =============================

.analyzer {
  &_budget {
    display: flex;
    padding: 1rem;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-right: 1rem;
    }
    &_input {
      border: none;
      border-bottom: 1px solid $GRAY_COLOR;
      width: 20%;
      &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid $GRAY_COLOR;
      }
    }
    &_btns {
      a {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
  &_input {
    h3:first-of-type {
      margin-bottom: 0.5rem;
    }
    h3:nth-child(n + 2) {
      margin: 1rem 0 0.5rem 0;
    }
    .type_selector {
      width: 40%;
    }
    .payment {
      &_usd {
        width: 30%;
      }
      &_krw {
        width: 40%;
      }
      &_memo {
        width: 70%;
      }
      &_btn {
        margin-top: 1rem;
        width: 30%;
      }
    }
  }
  &_list {
    padding: 1rem;
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s all;
    .memo_list {
      display: inline-block;
    }
    .delete_btn {
      display: inline-block;
      margin-left: 1rem;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  @media only screen and (max-width: $sm) {
    &_budget {
      flex-direction: column;
      align-items: flex-start;
      &_btns {
        margin-top: 1rem;
        a {
          font-size: 1.1rem;
          margin: 0 1rem 0 0;
        }
      }
    }
    &_list {
      flex-direction: column;
      .rest_list {
        display: none;
      }
      .memo_list {
        display: block;
        margin-top: 1rem;
      }
    }
    &_input {
      .type_selector {
        width: 60%;
      }
      .payment {
        &_usd {
          width: 40%;
        }
        &_krw {
          width: 50%;
        }
        &_btn {
          width: 50%;
        }
      }
    }
  }
}
