@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3 h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

html,
body {
  overflow: hidden;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 4rem;
}

button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: inherit;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  text-decoration: none;
  outline: none;
  display: block;
}

.ant-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

.sm_visible {
  display: none;
}

@media only screen and (max-width: 576px) {
  .sm_visible {
    display: block;
  }
}

.md_visible {
  display: none;
}

@media only screen and (max-width: 768px) {
  .md_visible {
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background: rgba(0, 0, 0, 0.5);
}

.tag {
  display: inline-block;
  font-size: 0.8rem;
  background-color: #263238;
  padding: 0.1rem 0.5rem;
  color: #fff;
  border-radius: 5px;
}

.tag:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-underLine {
  background-image: linear-gradient(transparent calc(100% - 1.5px), #1187cf 5px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
}

.btn-underLine:hover {
  -webkit-animation: underLining 0.3s forwards;
          animation: underLining 0.3s forwards;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  margin: 1rem;
  padding: 2rem 2rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.modal h4 {
  line-height: 2;
  margin-bottom: 0.5rem;
}

.modal .ant-divider {
  margin: 0.5rem 0;
}

.modal span {
  background-color: #ed6f63;
  border-radius: 5px;
  padding: 0.15rem 0.3rem;
  color: #fff;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 576px) {
  html,
  body,
  span {
    font-size: 0.9rem;
  }
}

@-webkit-keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes border {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 1px 1px 10px #1187cf;
            box-shadow: 1px 1px 10px #1187cf;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes border {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 1px 1px 10px #1187cf;
            box-shadow: 1px 1px 10px #1187cf;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@-webkit-keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@keyframes underLining {
  100% {
    background-size: 100% 100%;
  }
}

@-webkit-keyframes flip {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
            transform: translate(-50%, -50%) rotateY(90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotateY(0);
            transform: translate(-50%, -50%) rotateY(0);
    visibility: visible;
  }
}

@keyframes flip {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
            transform: translate(-50%, -50%) rotateY(90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotateY(0);
            transform: translate(-50%, -50%) rotateY(0);
    visibility: visible;
  }
}

@-webkit-keyframes slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */